.bd-page-width {
    max-width: 80%;
}

.bd-main .bd-content .bd-article-container {
    max-width: 80%;
}

.bd-links__title[role="heading"][aria-level="1"] {
    display: none;
}

.toc-tree .toc-item {
    list-style-type: none;
    padding: 2px;
}

.toc-tree .toc-item a {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
}
