<?xml version="1.0"?>
<plugins>
    <pyqgis_plugin name="QAequilibraE" version="1.4.5">
        <description>Transportation modeling toolbox for QGIS</description>
        <qgis_minimum_version>3.34.10</qgis_minimum_version>
        <file_name>qaequilibrae.1.4.4.zip</file_name>
        <author_name>Pedro Camargo</author_name>
        <download_url>https://github.com/AequilibraE/qaequilibrae/releases/download/v1.4.5/qaequilibrae.1.4.4.zip</download_url>
        <experimental>True</experimental>
    </pyqgis_plugin>
</plugins>