name: DevelopmentTests

on:  [pull_request]


jobs:
  unittest:
#    needs: linting
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        container: [ 'qgis/qgis:latest', 'qgis/qgis:3.34.7']
    container:
      image: ${{ matrix.container }}
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          python3 -m venv /tmp/venv_test --system-site-package
          . /tmp/venv_test/bin/activate
          python3 -m pip install setuptools
          python3 -m pip install -r test/requirements-test.txt
          python3 ./ci/dependency_installation.py
          export PYTHONPATH=$(pwd)/qaequilibrae/packages:$PYTHONPATH
          echo "PYTHONPATH=$PYTHONPATH" >> $GITHUB_ENV

      - name: Run tests
        run: |
          . /tmp/venv_test/bin/activate
          export QT_QPA_PLATFORM=offscreen
          pwd
          python3 -m pytest --cov-report term --cov-config=.coveragerc --cov=qaequilibrae test -v
